@{
    ViewData["Title"] = "Панель администрирования";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr><td>Управление пользователями:</td><td>Управление тегами:</</td></tr>
    <tr><td>
     //Управление пользователями:
    </td><td>
     //Управление тегами:
    </td></tr>
</table>

