@{
    ViewData["Title"] = "Главная страница";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table width="100%">
    <tr><td align="center" colspan="3"><-- Функцциональные клавиши согласно полномочий --></td></tr>
    <tr>
        <td>
            @if (ViewBag.user.Role == "admin" || ViewBag.user.Role == "moder" || ViewBag.user.Role == "user")
            {

                <form method="post" asp-controller="Home" asp-action="BlogPanel">
                    <button style="border-radius:10px;" onklick="form.submit();">Добавить новый блог</button>
                </form>

            }
        </td>
        <td>
            @if (ViewBag.user.Role == "admin" || ViewBag.user.Role == "moder")
            {

                <form method="post" asp-controller="Home" asp-action="TegPanel">
                    <button style="border-radius:10px;" onklick="form.submit();">Управление тегами</button>
                </form>

            }
        </td>
        <td>
            @if (ViewBag.user.Role == "admin")
            {

                <form method="post" asp-controller="Home" asp-action="AdminPanel">
                    <button style="border-radius:10px;" onklick="form.submit();">Управление пользователями/ролями</button>
                </form>

            }
        </td>
    </tr>
</table>
