@{
    ViewData["Title"] = "Регистрация пользователя";
}
@model UserModel;
<h1>@ViewData["Title"]</h1>

<center>
    <table border=0 style='background-image: url("/form_fone.jpg");border-radius: 10px;width:350px;'>
        <tr>
            <td colspan=2>
                <!-- Вход  -->
                <div id=next>
                    <form method="post" asp-controller="Home" asp-action="Index" onsubmit="return RegValid(document.getElementById('Login').value,document.getElementById('Pass').value,document.getElementById('PassCopy').value);">
                        <label asp-for="Login"></label><br>
                        <input asp-for="Login" class="form-control" style="border-radius:10px;" id="Login"><br>
                        <label asp-for="Pass"></label><br>
                        <input asp-for="Pass" class="form-control" style="border-radius:10px;" id="Pass"><br>
                        <label asp-for="Pass"></label><br>
                        <input asp-for="Pass" class="form-control" style="border-radius:10px;" id="PassCopy"><br>
                        <label asp-for="Fio"></label><br>
                        <input asp-for="Fio" class="form-control" style="border-radius:10px;"><br>
                        <button style="border-radius:10px;" onklick="form.submit();">Зарегистрироваться</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</center>